@import "tailwindcss";

@theme {
	--color-*: initial;
	--color-white: #f8fafc;
	--color-black: #030615;
	--color-orange-1: #f5e8d5;
	--color-orange-2: #f5d565;
	--color-orange-3: #e9a23b;
	--color-green-1: #a0ecb1;
	--color-green-2: #32d657;
	--color-red-1: #f7d4d3;
	--color-red-2: #dd524c;
	--color-blue: #3662e3;
	--color-gray-1: #e3e8ef;
	--color-gray-2: #00000033;
	--color-gray-3: #97a3b6;
}
